[submodule "users/tntman/config/awesome/bling"]
	path = users/tntman/config/awesome/bling
	url = https://github.com/BlingCorp/Bling
[submodule "users/tntman/config/awesome/awesome-buttons"]
	path = users/tntman/config/awesome/awesome-buttons
	url = https://github.com/streetturtle/awesome-buttons
[submodule "users/tntman/config/awesome/awesome-wm-widgets"]
	path = users/tntman/config/awesome/awesome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets
[submodule "users/tntman/config/awesome/layout-machi"]
	path = users/tntman/config/awesome/layout-machi
	url = https://github.com/xinhaoyuan/layout-machi
[submodule "home/tntman/config/awesome/vicious"]
	path = home/tntman/config/awesome/vicious
	url = https://github.com/vicious-widgets/vicious.git
[submodule "users/tntman/config/awesome/rubato"]
	path = users/tntman/config/awesome/rubato
	url = https://github.com/andOrlando/rubato
  branch = manager
[submodule "users/tntman/config/awesome/color"]
	path = users/tntman/config/awesome/color
	url = https://github.com/andOrlando/color
