[submodule "users/tntman/config/awesome/lib/bling"]
	path = users/tntman/config/awesome/lib/bling
	url = https://github.com/BlingCorp/Bling
[submodule "users/tntman/config/awesome/lib/awesome-widgets"]
	path = users/tntman/config/awesome/lib/awesome-widgets
	url = https://github.com/andOrlando/awesome-widgets
[submodule "users/tntman/config/awesome/lib/rubato"]
	path = users/tntman/config/awesome/lib/rubato
	url = https://github.com/andOrlando/rubato
[submodule "users/tntman/config/awesome/lib/color"]
	path = users/tntman/config/awesome/lib/color
	url = https://github.com/andOrlando/color
[submodule "users/tntman/config/awesome/lib/layout-machi"]
	path = users/tntman/config/awesome/lib/layout-machi
	url = https://github.com/xinhaoyuan/layout-machi
[submodule "users/tntman/config/awesome/lib/vicious"]
	path = users/tntman/config/awesome/lib/vicious
	url = https://github.com/vicious-widgets/vicious.git
